*{margin:0;padding:0;border:0;color:#44454D;font-family: 'Noto Sans KR', sans-serif;}
@font-face { font-family: 'KHNPHD'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/KHNPHD.woff') format('woff'); font-weight: normal; font-style: normal; }
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
body,html{height:100vh;width:100vw;font-size:14px;}
a{text-decoration:none;}
li{list-style:none;}
main{
    display:flex;height:100vh;width:100vw;justify-content: space-between;
    position:relative;
}
/* header{
    position: fixed;width:100vw;height:70px;
    z-index:300;
} */
.back_card{
    font-size:0;
    position:fixed;
    width:100vw;height:100vh;right:0;top:0;border-radius:100% 0 100% 100%;
    background-color:#0F78F4;
    transform:scale(0);
    transform-origin:150% -50%;
    z-index:200;
}
.togglebackCard{
    transform:scale(1);
    border-radius:0;
}
.toggleham{
    background-color:white;
}
nav{
    position:fixed;top:0;left:0;
    z-index:1000;
}
nav > a {
    position: fixed;;top:45px;right:45px;
    z-index:800;
}
nav > a > div{
    width:32px;height:4px;background-color:#0F78F4;
    font-size:0;
    transition:all 0.6s ease-in-out;
}
.firstham{
    transform:translateY(14px) rotateZ(45deg);
}
nav > a > div:nth-child(2){
    margin:10px 0;
}
.secondham{
    opacity:0;
}
.thirdham{
     transform:translateY(-14px) rotateZ(-45deg);
}
.nav_link_area {
    /* display:none; */
    position:fixed;
    top:50vh;left:50vw;
    z-index:600;
    width:fit-content;
    transition:0.2s all 0.6s ease-in-out;
    transform:translateY(-50%) translateX(-50%) scale(0);
}
.nav_scale{
    position:fixed;
    top:50vh;left:50vw;
    z-index:600;
    width:fit-content;
    transition:all 0.2s ease-in-out;
    transform:translateY(-50%) translateX(-50%) scale(1) ;
}
.nav_link{
    display:flex;font-size:35px;
    width:47.7083vw;justify-content: space-between;
}
.nav_link > li{width:fit-content;}
.nav_link > li > a {
    color:white;position:relative;opacity:80%;text-align: center;
    transition:opacity 0.7s ease-in-out;font-family: 'KHNPHD';
}
.nav_link > li > a:hover{
    opacity:100%;
}
.nav_link > li > a > span{
    display:inline-block;
    position:absolute;
    top:0;left:0;
    transform:translateX(-15%) translateY(-23%);
    width:140%;height:145%;
    border:2px solid white;
    border-radius:100px;
    text-align:center;
    font-size:0;
    opacity:0;
    transition:opacity 0.7s ease-in-out;
}
.nav_link span:hover{opacity:1;}
.nav_link_inform {
    opacity:0;
    transition:opacity 0.6s ease-in-out;
}

.nav_link_inform > .nav_inform_box{
    position: relative;
}
.nav_link_inform hr{
    top:0;left:0;
    position: absolute;
    display:inline-block; 
    border:1.2px solid #3D91F4;
    transform-origin:103% 100%;
}
.informbox00{
    width:177px;
    transform:translateX(-100%) translateY(0) rotateZ(32deg);
}
.informbox01{
    width:94px;
    transform:translateX(52%) translateY(0) rotateZ(90deg);
}
.informbox02{
    width:177px;
    transform:translateX(63%) translateY(0) rotateZ(148deg);
}
.nav_inform_box > .nav_inform_box_padding{
    position: absolute;
    top:100px;left:50%;
    transform:translateX(-50%);
    width:255px;
    background-color:#2784F3;
    padding:25px;
    border:2px solid #3D91F4;
    box-shadow:0 10px 25px rgba(255, 255, 255, 0.10);
    font-size:16px;
}
.nav_inform_box_padding > h2{color:white;font-weight:700;margin-bottom:10px;}
.nav_inform_box_padding > p{color:white;font-weight:400;line-height:36px;}

section.hangle_con01{
    display:flex;
    align-items: flex-start;
    padding:0 0 0 3%;
    width:33.333%;
    position:relative;
}
section.hangle_con02{
    display:flex;
    align-items: flex-end;
    height:100%;
    padding:0 3% 0 0;
    width:33.333%;
    position:relative;
}
svg.text_svg{
    overflow:visible;
    vertical-align: top;
    margin-bottom:45px;
    margin-right:auto;margin-left:auto;
    width:100%;
}
.first_svg{
    margin-top:56px;
}
/*자음 재정렬*/
.align_svg{
    margin-top:-6.5%;
}
.align_svg01{
    margin-top:53px;
}
/*모음 재정렬*/
.align_svg02{
    transform:translateX(25%);
}
.align_svg03{
    transform:translateY(35%);
}
.align_svg04{
    transform:translateY(75%);
}
.align_svg05
{
    transform:translateX(40%);
}
/**/
.main_svg{
    height:100%;
    filter:drop-shadow(0 15px 20px #0f7af477);}
g.text_g{
    fill:none; stroke:#44454D; 
    stroke-width:19; 
    stroke-linecap:square; stroke-miterlimit:10;
    opacity:8%;
}
g.main_g{
    fill:#0F78F4;
}
.logo_con{
    position: relative;top:50%;transform: translateY(-40%);
}
h2.logo_text{
    width:max-content;
    font-size:74px;
    position: absolute;
    top:-0.7%;
    font-family: 'KHNPHD';
    color:white;
    margin-left:50%;transform:translateX(-50%);
}
h2.logo_text > span{
    font-family: 'KHNPHD';
    opacity:25%;margin-left:-13px;
    color:white;
}

g.line_g_inner{
    fill:none; stroke:#44454D; 
    stroke-width:2; 
    stroke-linecap:square; stroke-miterlimit:10;
    opacity:4%;
    transform:translateX(-110%);
    
}
g.line_g_outer{
    transform:translateY(-14%) translateX(-110%);
    fill:none; stroke:#44454D; 
    stroke-width:2; 
    stroke-linecap:square; stroke-miterlimit:10;
    opacity:4%;
}
g.line_g_inner_b{
    fill:none; stroke:#44454D; 
    stroke-width:2; 
    stroke-linecap:square; stroke-miterlimit:10;
    opacity:4%;
    transform:translateX(-50%);
}
g.line_g_outer_b{
    transform:translateY(-14%) translateX(-50%);
    fill:none; stroke:#44454D; 
    stroke-width:2; 
    stroke-linecap:square; stroke-miterlimit:10;
    opacity:4%;
}


.horizon_line_outer{
    width:14.4%;
    /* width:102%; */
    margin-right:14.4%;
    border-left:2px solid #44454D05;border-right:2px solid #44454D05;
    animation:opacityDraw 1s ease-in-out forwards;
    z-index:400;
}
.last_horizon{
    margin-right:0;
}
.horizon_line_inner{
    width:76.6%;
    /* width:74px; */
    border-left:2px solid #44454D05;border-right:2px solid #44454D05;
    margin:0 auto;
    animation:opacityDraw 0.5s ease-in-out forwards;
    z-index:400;
}
@keyframes opacityDraw{
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}
@keyframes unopacityDraw{
    from{
        opacity:1;
    }
    to{
        opacity:0;
    }
}

.st0{
    stroke-dasharray:350;
    stroke-dashoffset: 350;
    animation:draw 3s ease-in-out forwards;
}
.st1{
    stroke-dasharray:350;
    stroke-dashoffset: 350;
    animation:draw 4s ease-in-out forwards;
    /* transform:translateX(50%); */
}
.line{
    stroke-dasharray:1100;
    stroke-dashoffset: 1100;
    animation:drawLine 2s ease-in-out forwards;
    /* transform:translateX(50%); */
}

@keyframes draw{
    from{
        stroke-dashoffset: 350;
    }
    to{
        stroke-dashoffset: 0;
    }
}
@keyframes undraw{
    from{
        stroke-dashoffset: 0;
    }
    to{
        stroke-dashoffset: 350;
    }
}
@keyframes drawLine{
    from{
        stroke-dashoffset: 1100;
    }
    to{
        stroke-dashoffset: 0;
    }
}
@keyframes undrawLine{
    from{
        stroke-dashoffset: 0;
    }
    to{
        stroke-dashoffset: 1100;
    }
}
/*글자의 무게*/
.text_weight_con{
    position: absolute;
    bottom:33%;right:10%;
    width:183px;
    font-family: 'KHNPHD';
    font-size:130%;
    
}
.text_weight{
    display:flex;align-items:center;justify-content: space-between;
    padding:30px 0;
}
@media screen and (max-width:1400px){
    .text_weight_con{
        width:160px;
        right:-4%;
    }
    .text_weight{
        padding:20px 0;
    }
    .nav_link{
        width:70vw;
    }
}

g.redraw_g01{
    fill:none; stroke:#fff; 
    stroke-width:5; 
    stroke-linecap:square; stroke-miterlimit:10;
}
g.redraw_g02{
    fill:none; stroke:#fff; 
    stroke-width:1; 
    stroke-linecap:square; stroke-miterlimit:10;
    opacity:10%;
}
a.redraw_btn{
    display:block;
    width:100%;height:48px;
    background-color:#0F78F4;
    border-radius:45px;
    color:white;text-decoration:none;
    line-height:48px;
    transition:opacity 0.7s ease;
}
a.redraw_btn > div{display:flex;justify-content:space-evenly;}
a.redraw_btn > div > p {color:white;}
svg.redraw_svg{
    transform: translateY(25%);
}
.text_weight_con > h3{
    opacity:55%;text-align:center;
}
p.w_txt_sub{
    font-size:18px;opacity:10%;
}
p.w_txt_main{
    font-size:27px;
}
a.minus_btn{
    font-size:0;
    width:30px;height:30px;border-radius: 50px;
    background-color:#0F78F4;
    display:flex;justify-content: center;align-items: center;
    transition:opacity 0.7s ease;
}
a.minus_btn:hover{opacity:70%;}
a.minus_btn > div{
    width:15px;height:3px;background-color:white;
}
a.plus_btn{
    font-size:0;
    width:30px;height:30px;border-radius: 50px;
    background-color:#0F78F4;
    display:flex;justify-content: center;align-items: center;
    position:relative;
    transition:opacity 0.7s ease;
}
a.plus_btn:hover{opacity:70%;}
a.plus_btn > div{
    width:15px;height:3px;background-color:white;
    position:absolute;
}
a.plus_btn > div:last-child{
    transform:rotateZ(90deg);
}
/*이곳은? 설명영역*/
.page_intro_con{
    position:absolute;
    top:42%;left:10%;
}
.page_intro_con > dl{}
.page_intro_con > dl > dt{font-size:23px;font-weight:700;padding-bottom:30px;opacity:25%;}
.page_intro_con > dl > dd{font-size:18px;font-weight:400;line-height:36px;letter-spacing:0.5px;opacity:85%;}
.page_intro_con > dl > dd > span{color:#0F78F4;font-weight:700;}

footer > section{
    display:flex;
    position: absolute;
    bottom:3%;left:3%;
    width:fit-content;
}
img.ctc{
    vertical-align: top;margin-right:30px;
    opacity:12%;transition:opacity 1s ease;cursor:pointer;
}


@media screen and (max-width:1024px){
    html,body{
        width:100%;height:100%;
    }
    nav{
        position:fixed;top:0;left:0;
        background: -moz-linear-gradient(top, rgba(15,120,244,1) 0%, rgba(62,143,238,0.75) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(15,120,244,1) 0%,rgba(62,143,238,0.75) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(15,120,244,1) 0%,rgba(62,143,238,0.75) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        /* filter:drop-shadow(0 7px 10px #0f7af477); */
        box-shadow: 0 7px 10px #0f7af477;
        width:100%;
        height:70px;
        transition:height 0.4s ease-in-out;
    }
    .nav_height_remove{
        height:0;
    }
    nav > a {
        position: fixed;;top:20px;right:20px;
        z-index:800;
    }
    nav > a > div{
        background-color:#fff;
    }

    .nav_link{
        flex-direction: column;
        width:fit-content;
        height:40vh;
    }
    .nav_inform_box > .nav_inform_box_padding{
        top:40px;
    }
    .nav_link_inform hr{
        display:none;
    }
    main{
        width:100%;
        height:fit-content;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    section.hangle_con01{
        display:flex;
        align-items: flex-start;
        padding:0 3% 3% 3%;
        width:100%;
    }
    section.hangle_con01 svg{padding-top:45%;}
    section.hangle_con01 svg.redraw_svg{padding:0;}
    section.hangle_con02{
        display:flex;width:100%;
        align-items: flex-end;
        padding:3% 3% 0 3%;
    }
    .logo_main{padding:70px 0;}
    .logo_con{
        position: relative;top:0;transform: translateY(0);
    }
    .main_svg{
        width:100%;margin-top:0;margin-bottom:0;
    }

    g.line_g_inner01{
        transform:translateX(-110%) scaleX(1.26);
    }
    g.line_g_outer01{
        transform:translateY(-14%) translateX(-110%) scaleX(1.26);
    }

    g.line_g_inner02{
        transform:translateX(-110%) scaleX(1.26);
    }
    g.line_g_outer02{
        transform:translateY(-14%) translateX(-110%) scaleX(1.26);
    }

    g.line_g_inner03{
        transform:translateX(-110%) scaleX(1.2);
    }
    g.line_g_outer03{
        transform:translateY(-14%) translateX(-110%) scaleX(1.2);
    }

    g.line_g_inner04{
        transform:translateX(-110%) scaleX(1.18);
    }
    g.line_g_outer04{
        transform:translateY(-14%) translateX(-110%) scaleX(1.18);
    }

    g.line_g_inner05{
        transform:translateX(-110%) scaleX(1.14);
    }
    g.line_g_outer05{
        transform:translateY(-14%) translateX(-110%) scaleX(1.14);
    }
    
    .text_weight_con{
        bottom:10%;
        width:180px;
        margin-right:30px;
        right:0;
    }
    .text_weight{
        padding:30px 0;
    }
    .page_intro_con{
        top:3%;left:15%;
    }
    footer{
        display:flex;justify-content: center;margin:0;
    }
    footer > section{
        position: relative;bottom:0;left:0;margin:0;padding:35px 0;
        display:flex;justify-content: space-evenly;width:100vw;
    }
    img.ctc{width:65px;height:65px;margin:0;}
}

@media screen and (max-width:500px){
    html,body{
        width:100%;
    }
    main{
        width:100%;
        height:fit-content;
        flex-wrap: wrap;
        justify-content: center;
    }

    section.hangle_con01{
        display:flex;
        padding:0 3% 3% 3%;
        width:100%;
    }
    section.hangle_con02{
        display:flex;width:100%;
        padding:3% 3% 0 3%;
    }
    section.logo_main{
        display:flex;
        width:90vw;
    }
    .main_svg{
        width:90vw;
    }
    h2.logo_text{
        font-size:15vw;
        position: absolute;
        top:-0.7%;
        font-family: 'KHNPHD';
        color:white;
        margin-left:50%;transform:translateX(-50%);
    }
}

